body {
  background-image: url("AdobeStock_371254704.jpeg");
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  padding: 20px;
}
p {
  color: black;
  background: ##008080; 
  border: solid;
  border-radius: 45px;
  margin: 10px;
  padding: 20px;
}
h1 {
  font-weight: bold;
  background-color: #008080;
  text-align: center;
  border-color: black;
  border: double;
  border-radius: 45px;
  margin: 10px;
  padding: 20px;
  -webkit-box-shadow: 8px 21px 27px 0px #000000; 
  box-shadow: 8px 21px 27px 0px #000000;
}
.section {
  width: 1050px;
  border: double;
  border-radius: 45px;
  margin: 50px;
  padding: 20px;
  background-color: #008080;
  align-items: center;
  -webkit-box-shadow: 8px 21px 27px 0px #000000; 
  box-shadow: 8px 21px 27px 0px #000000;
  }
